body {
	margin: 0;
}

video {
	position: absolute;
	height: auto;
	width: 100%;
}

#word_cloud {
	background-image:url(../img/word_cloud.png);
	background-size: 380px 200px;
	position: absolute;
	top: 15px;
	left: 370px;
	width: 380px;
	height: 200px;
}

.faceIcon {
	opacity: 0.5;
	margin-bottom: 10px;
}

#avatar_menu {
	position: fixed;
	width: 70px;
	height: 320px;
	left:0;
	top: 50%;
	margin-top: -160px;
	margin-left: 15px;
	z-index: 3;
}

#audioView {
	position: absolute;
	z-index: -1;
	background: rgba(0, 0, 0, 1);
	width: 100%;
	height: 100%;
	opacity: 1;
}

#audioNodes {
	position: absolute;
	width: 100%;
	height: 320px;
	left:85px;
	top: 50%;
	margin-top: -155px;
	margin-left: 15px;
	z-index: 99999;
	opacity: 0;
}

#audioWaves, #audioScrubberUI {
	position: absolute;
	width: 100%;
	height: 320px;
	left:85px;
	top: 50%;
	margin-top: -155px;
	margin-left: 15px;
	/*z-index: 0;*/
}

#audioWaves .waveform, 
#audioScrubberUI .waveform-ui{
	position: relative;
	width: 1335px;
	height: 60px;
	background-size: 1110px 60px;
	background-position: 0 0;
	background-repeat: none;
	float: left;
	opacity: .3;
	margin-top: 20px;
}
#audioScrubberUI .waveform-scrubber {
	position: relative;
	top: -300px;
	z-index: -1;
	width: 1335px;
	height: 300px;
	float: left;
	opacity: .3;
}
#audioWaves .waveform:nth-of-type(1), 
#audioScrubberUI .waveform-ui:nth-of-type(1) {
	margin-top: 0px;
}
#wave1 {
	background-image:url(../img/voice1_waveform.png);
}
#wave2 {
	background-image:url(../img/voice2_waveform.png);
}
#wave3 {
	background-image:url(../img/voice3_waveform.png);
}
#wave4 {
	background-image:url(../img/voice4_waveform.png);
}

#audioScrubberUI {
	z-index: 100000;
}






/*
#node1 {
  width: 7px;
  height: 7px;
  border-radius: 1px 3px 1px;
  background: #fff;
  opacity: 1;
}
*/
	

#avatar1 {
	width: 70px;
	height: 70px;
	background-image:url(../img/avatar_1.png);
	background-size: 140px 70px;
	background-position: 0 0;
	background-repeat: none;
}

#avatar2 {
	width: 70px;
	height: 70px;
	background-image:url(../img/avatar_2.png);
	background-size: 140px 70px;
	background-position: 0 0;
	background-repeat: none;
}

#avatar3 {
	width: 70px;
	height: 70px;
	background-image:url(../img/avatar_3.png);
	background-size: 140px 70px;
	background-position: 0 0;
	background-repeat: none;
}

#avatar4 {
	width: 70px;
	height: 70px;
	background-image:url(../img/avatar_4.png);
	background-size: 140px 70px;
	background-position: 0 0;
	background-repeat: none;
}


.faceIcon:hover, .faceIconLock{

	opacity: 1.0;
}

#videoOverlay {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 100;
}

.transparentVideo {
	opacity: 0.5;
}

.nodeOn {
	position: absolute;
	z-index:999;
}

.nodeOff {
	position: absolute;
	z-index:999;
}


#infoButton {
	height: 50px;
	width: 50px;
	/*background-color: red;*/
	background-image:url(../img/info_btn.png);
	background-size: 50px 50px;
	position: absolute;
	bottom: 30px;
	right: -5px;
	opacity: 0.5;
	z-index:1000;
}

#node1 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 27px;
	left:53px;
	border-radius: 5px 5px 5px;
}

#node2 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 27px;
	left:100px;
	border-radius: 5px 5px 5px;
}

#node3 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 27px;
	left:121px;
	border-radius: 5px 5px 5px;
}

#node4 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 27px;
	left:268px;
	border-radius: 5px 5px 5px;
}

#node5 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 27px;
	left:580px;
	border-radius: 5px 5px 5px;
}

#node6 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 107px;
	left:80px;
	border-radius: 5px 5px 5px;
}

#node7 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 107px;
	left:125px;
	border-radius: 5px 5px 5px;
}

#node8 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 107px;
	left:270px;
	border-radius: 5px 5px 5px;
}

#node9 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 107px;
	left:320px;
	border-radius: 5px 5px 5px;
}

#node10 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 107px;
	left:800px;
	border-radius: 5px 5px 5px;
}

#node11 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 187px;
	left:20px;
	border-radius: 5px 5px 5px;
}

#node12 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 187px;
	left:120px;
	border-radius: 5px 5px 5px;
}

#node13 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 187px;
	left:150px;
	border-radius: 5px 5px 5px;
}

#node14 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 187px;
	left:268px;
	border-radius: 5px 5px 5px;
}

#node15 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 267px;
	left:580px;
	border-radius: 5px 5px 5px;
}

#node16 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 267px;
	left:47px;
	border-radius: 5px 5px 5px;
}

#node17 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 267px;
	left:90px;
	border-radius: 5px 5px 5px;
}

#node18 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 267px;
	left:227px;
	border-radius: 5px 5px 5px;
}

#node19 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 267px;
	left:445px;
	border-radius: 5px 5px 5px;
}

#node20 {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:absolute;
	top: 267px;
	left:780px;
	border-radius: 5px 5px 5px;
}

/*
#infoButton:hover{
	opacity: 1.0;
}
*/

/*
#infoButton.infoButtonHover  {
	opacity: 1.0;
}
*/	

#seek-bar{
	width: 70%;
	height: 100%;
	position: absolute;
	right: 15%;
	left: 15%;
	bottom: -20%;
	opacity: 0;
}

/*Jeff Added*/
#mainBoxAdvanced {
	width: 300px;
	height: 200px;
	position: absolute;
	margin-top: 70px;
    top: 50%;
	left: 50%;
	margin-left: -150px;
}

#mainBox {
	width:310px;
	height: 300px;
	position: absolute;
	margin-top: -200px;
    top: 50%;
	left: 50%;
	margin-left: -155px;
	z-index:999;
}

#darkPane {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	z-index:998;
	width: 100%;
	height: 100%;
}

#avatarControls {
	position: relative;
	width: 195px;
	margin: 0 auto;
}

#avatarGeneric {
	position: relative;
	width: 70px;
	height: 70px;
	background-image:url(../img/avatar_generic.png);
	background-size: 70px 70px;
	float:left;
}

#spacebar {
	position: relative;
	width: 284px;
	height: 35px;
	background: #fff;
	border: 2px solid #FFF;
    border-radius: 8px;
	clear: both;
	margin: 40px auto;
	margin-bottom: 0;
}

#spacebarText {
	font-family: 'Satisfy', serif;
	font-size: 18px;
	color: black;
	text-align: center;
	margin-top: 7px;
}

#spacebarInstruct {
	width:100%;
	text-align: center;
}

.customText {
	font-family: 'Satisfy', serif;
	font-size: 18px;
	color: white;
}

.customTextSmall {
	position: relative;
	font-family: 'Satisfy', serif;
	font-size: 14px;
	color: white;
	text-align: left;
	line-height: 24px;
}

.avatarText {
	margin-left: 10px;
	left: 10px;
}

#keys {
	background-image:url(../img/keyboard_keys.png);
	width: 134px;
	height: 32px;
	background-size: 134px 32px;
	margin: 0 auto;
}

.textCentered {
	text-align: center;
}

#seek-bar.opaqueBar {
	opacity: 1.0; 
}



@media screen and (max-width: 600px){
	
	#infoButton {
		top: 25px;
	}

	.faceIcon {
		height: 45px;
		width: 45px;
		margin: 12px;

	}
}

